@using EntityAPI.Models;
@model dynamic

@Scripts.Render("~/Script/js")
<script> moment.locale('fr');</script>
<main>
    <h5 class="my-titre @ViewBag.color-text text-darken-1">
        <b>@ViewBag.Title</b>
    </h5>
    <div class="center-align">
        <a href="#createData" class='btn btn-large waves-effect amber'>
            <i class="material-icons right">add</i>
            Ajouter un message
        </a>
    </div>

    <div class="my-container z-depth-2">
        <br>
        <table class="highlight centered responsive-table" id="datatable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Contenu</th> 
                    <th>Auteur</th>
                    <th>Destinaire</th>
                    <th>dateCreation</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MessageView data in Model.allMessage) {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Content</td>
                        <td>@data.NomAuteur</td>
                        <td>@data.NomDestinataire</td>
                        <td>@data.DateCreation</td>
                        <td>
                            <button class="btn-floating indigo darken-1 editData"
                                    data-id="@data.Id"
                                    data-content="@data.Content"
                                    data-idAuteur="@data.IdAuteur"
                                    data-idDestinataire="@data.IdDestinataire"
                                    data-etat="@data.Etat"
                                    data-dateCreation="@data.DateCreation">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="btn-floating red darken-1 deleteData"
                                    data-id="@data.Id"
                                    data-content="@data.Content">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
    </div>
</main>

<!-- modal zone -->
<!------------ modal createData -------------->
<div id="createData" class="modal">
    <div class="modal-content">
        <a class="modal-action modal-close btn-floating grey darken-3 right"><i class="material-icons">close</i></a>
        <h5 class="center indigo-text">Nouveau Message</h5>
        @using (Html.BeginForm("Save", "Message",FormMethod.Post, new { @class = "row" }))
        {
            <input type="hidden" name="DateCreation" value="@DateTime.Now" required>
            <div class="input-field col s12">
                <textarea id="textarea1" name="Content" class="materialize-textarea" required></textarea>
                <label>
                    Contenu
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select name="IdAuteur" required>
                   @foreach (Utilisateur data in Model.allUser)
                   {
                        <option value="@data.Id">@data.Nom</option>
                   }
                </select>
                <label>
                    Auteur
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select name="IdDestinataire" required>
                    @foreach (Utilisateur data in Model.allUser)
                    {
                        <option value="@data.Id">@data.Nom</option>
                    }
                </select>
                <label>
                    Destinataire
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select name="Etat" required>
                    <option value="non lu">non lu</option>
                    <option value="non lu">lu</option>
                </select>
                <label>
                    Etat
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="center-align"><button type="submit" class="btn btn-large waves-effect indigo darken-3"><i class="material-icons right">done</i>Enregistrer</button></div>
        }
    </div>
</div>

<!------------ modal EditData -------------->
<div id="editData" class="modal">
    <div class="modal-content">
        <a class="modal-action modal-close btn-floating grey darken-3 right"><i class="material-icons">close</i></a>
        <h5 class="center indigo-text">Modifier Message</h5>
        @using (Html.BeginForm("Save", "Message", FormMethod.Post, new { @class = "row" }))
        {
            <input type="hidden" id="idEdit" name="Id" required>
            <input type="hidden" id="dateCreationEdit" name="DateCreation" required>
            <div class="input-field col s12">
                <textarea id="contentEdit" name="Content" class="materialize-textarea" required></textarea>
                <label>
                    Contenu
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select id="idAuteurEdit" name="IdAuteur" required>
                    @foreach (Utilisateur data in Model.allUser)
                    {
                        <option value="@data.Id">@data.Nom</option>
                    }
                </select>
                <label>
                    Auteur
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select id="idDestinataireEdit" name="IdDestinataire" required>
                    @foreach (Utilisateur data in Model.allUser)
                    {
                        <option value="@data.Id">@data.Nom</option>
                    }
                </select>
                <label>
                    Destinataire
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="input-field col s12">
                <select id="etatEdit" name="Etat" required>
                    <option value="non lu">non lu</option>
                    <option value="lu">lu</option>
                </select>
                <label>
                    Etat
                    <span class="red-text">*</span>
                </label>
            </div>
            <div class="center-align"><button type="submit" class="btn btn-large waves-effect indigo darken-3"><i class="material-icons right">done</i>Enregistrer</button></div>
        }
    </div>
</div>

 <!------------ modal deleteData ------------>
<div id="deleteData" class="modal">
    @using (Html.BeginForm("Delete", "Message", FormMethod.Post, new { @class = "row" }))
    {
        <div class="modal-content">
            <a class="modal-action modal-close btn-floating grey darken-3 right"><i class="material-icons">close</i></a>
            <h5 class="center indigo-text">Êtes-vous sûr de vouloir supprimer [<span id="contentDelete"></span>] ?</h5>
            <input id="idDelete" name="Id" type="hidden" value="" required>
        </div>
        <div class="modal-footer">
            <div class="center align">
                <a class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
                <button type="submit" class="btn red"><i class="material-icons left">delete</i>Supprimer</button>
            </div>

        </div>
    }
</div>


@if (ViewBag.error != null)
{
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <a class="modal-action modal-close btn-floating grey darken-3 right"><i class="material-icons">close</i></a>
            <h5 class="center red-text">@ViewBag.error</h5>
        </div>
        <div class="modal-footer">
            <div class="center-align">
                <a class="modal-action modal-close waves-effect waves-green btn black">Fermer</a>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //--------------- DataTables
        $('#datatable').DataTable({
            "language": getLanguage(),
            order: [[4, "desc"]]
        });
        //------------- sidenav
        $(".button-collapse").sideNav();
        $(".collapsible").collapsible();
        $(".dropdown-button").dropdown();
        //-------------  tabs
        $("ul.tabs").tabs();
        //--------------- activer modal
        $('.modal').modal();

        //------------- select
        $("select").material_select();
        //------------- textarea
        $('#textarea1').trigger('autoresize');
        $('#contentEdit').trigger('autoresize');


        //------------- MODAL
        $('.editData').on("click", function () {
            var id = $(this).attr('data-id');
            var content = $(this).attr('data-content');
            var dateCreation = $(this).attr('data-dateCreation');
            var idAuteur = $(this).attr('data-idAuteur');
            var idDestinataire = $(this).attr('data-idDestinataire');
            var etat = $(this).attr('data-etat');

            $('#editData').modal('open');

            $("#idEdit").val(id);
            $("#contentEdit").val(content);
            $("#dateCreationEdit").val(dateCreation);

            $("#idAuteurEdit option").each(function () {
                if ($(this).val() == idAuteur) {
                    $(this).attr("selected", "selected");
                }
            });
            $("#idDestinataireEdit option").each(function () {
                if ($(this).val() == idDestinataire) {
                    $(this).attr("selected", "selected");
                }
            });
            $("#etatEdit option").each(function () {
                if ($(this).val() == etat) {
                    $(this).attr("selected", "selected");
                }
            });
            Materialize.updateTextFields();
            $("select").material_select();
        });

        //--------------- DELETE
        $('.deleteData').on("click", function () {
            var id = $(this).attr('data-id');
            var content = $(this).attr('data-content');
            $('#deleteData').modal('open');
            $("#idDelete").val(id);
            $("#contentDelete").text(content);
        });
    });
</script>











